html {
min-height:100%;
}

на слайдер медиазапрос макс ширина.






html, body {
height: 100%;
margin: 0;
padding: 0;
width:100%;
font-family: 'PT Sans', sans-serif;
font-size: 14px;
}

body {
width: 980px;
margin-left: 10px;
margin-right: 10px;

}




header {
height:350px;
background-color: rgb(221,219,221);
margin-left: auto;
margin-right: auto;
}

.header-block {

  display: inline-block;
width: 300px;
}


.header-logo img {
float: left;
width:100px;
height:100px;
}


.company-name {
width:200px;
height:100px;
}

.phone {
  display: block;
  float:right;
  margin-top:
width: 150px;
}














#menu {
height: 50px;
background-color:#777777;
width:80%;
margin-left: auto;
margin-right: auto;
}

#menu li {
  font-size: 20px;
display:inline-block;
border-left:1px solid #bbb;
padding-right: 20px;
padding-left: 20px;
line-height: 50px;
color: white;
}
#menu li:first-child {
border:none;
}



#slider {
  width:100%;
height:300px;
border: solid 1px;
}

#slider img {
height:300px;
min-width:800px;
}


#content {
  width:100%;

height: 600px;
left:50px;
padding-bottom: 100px;

}


.sidebar {
width:200px;
height:550px;
border: solid 1px;
background-color:#777777;
}

.basic-test {

width: 600px;
height:550px;
border: solid 1px;

}






.page-footer {
min-width:100%;
}



.left {
display: inline-block;
border: solid 1px;
}

.center {
display: inline-block;
border: solid 1px;
}


.footer-logo img {

}

.right {
display: inline-block;
border: solid 1px;
}




ul {
list-style: none;
margin: 0;
padding-left: 0;
display:inline-block;
}

a {
text-decoration: none;
display: block;
line-height: 22px;
font-weight: 14px;
}

h1, p {
line-height: 22px;
font-weight: 14px;
}




@font-face {
font-family: 'PT Sans', sans-serif;
src: url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');
font-weight: 14px;
}
